@()

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RPA - workforce access</title>
        <meta name="viewport" content="width=device-width">


        <!-- Custom CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/rpa/main.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/slider.css")">
		<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">

		 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
        
         
        
		@helper.javascriptRouter("jsRoutes")(
		  routes.javascript.Api.spt,
		  routes.javascript.Api.indicator,
		  routes.javascript.Api.indicatorMetadata
		)

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		
    </head>
	<body class="page jobs">
		<div class="content">
		  	<div class="map" id="jobAccess">
		  	
			  	<div style="position: relative; width: 100%; height: 100%;">
			  		<div class="cartodb-map-wrapper leaflet-container leaflet-retina leaflet-fade-anim" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%; cursor: auto;" tabindex="0"></div>
			  	</div>
			  	
				<div class="legend-stack" style="display: block;">
					<div class="legend wrapper" style="display: block;">
	
							<span  class="pull-right">
							<a id="infoBtn" href="#" data-toggle="modal" data-target="#infoModal">
							 <span class="glyphicon glyphicon-info-sign"></span> info
							</a>	
							</span>
							<span id="total_workforce"></span> total workforce<span id="total_asterisks">*</span>
							
							<div id="timeControls">
								<p>
								
								<div class="pull-right">
								<div class="checkbox">
								    <label>
								      <input type="checkbox"  id="allWorkforce"> Total workforce
								    </label>
							  	</div>
								</div>			
								<b>Mode of Travel</b>
								</p>
								
								<div class="btn-group " data-toggle="buttons">
									  <label class="btn btn-default">
									    <input type="radio" name="options" id="modeCar" value="CAR"><span class="icon icon-car"></span>
									  </label>
									  <label class="btn btn-default active">
									    <input type="radio" name="options" id="modeBus" value="TRANSIT"><span class="icon icon-pedestrian"></span> + <span class="icon icon-bus"></span>
									  </label>
									  <label class="btn btn-default">
									    <input type="radio" name="options" id="modeBike" value="BIKE"><span class="icon icon-bike"></span>
									  </label>
									  <label class="btn btn-default">
									    <input type="radio" name="options" id="modePed" value="WALK"><span class="icon icon-pedestrian"></span>
									  </label>
								</div>
						
								<p>
									<b>Max Travel Time: <span class="notes" id="timeLimitValue"></span></b>
								</p>	
									<input id="timeSlider1" data-slider-id='timeSlider' type="text" data-slider-min="15" data-slider-max="90" data-slider-step="5" data-slider-value="60"/>
								   	
								   	<div class="timeScale"></div>
								   	
								   	<div class="timeScaleLabels">
								   		<span class="note pull-right">90 mins</span>
								   		<span class="note">15 mins</span>
								   	</div>
							</div>
						
							   
						</div>
						
						<div class="legend wrapper" style="display: block;">
						
							
							<div class="indicators">
								<b style="font-weight:bold">Display Labor Pool</b>
								
								<div class="btn-group btn-group-justified legend-toggler btn-sm" id="layer_selector">
								  <a id="mapType" class="btn btn-default hh-btn active btn-sm">By industry</a>
								  <a id="mapEdu" class="btn btn-default race-btn btn-sm">By education</a>
								</div>
								
								<p>	
									<span style="margin-bottom: 10px;" class="notes pull-right"><a href="#" id="downloadData"><span class="glyphicon glyphicon-download"></span> download data</a></span>
									select <a href="#" id="showAll">all</a> | <a href="#" id="showNone">none</a>
								</p>
								
								<br clear="all"/>
								
								<div class="indicator_data" id="type_indicators"></div>
								<div class="indicator_data" id="edu_indicators"></div>
					
							</div>
						
						</div>
				</div>
			</div>
		</div>

<footer class="footer"></footer>

<script id="jobs-type-indicator-template" type="text/x-handlebars-template">
<div class="indicator_box">
{{#each workforce_type}}
<div class="legend-item" data-id="legend_{{id}}">
<div class="colorbox" style="background-color:{{color}};"><div class="item-checkbox"><span class="glyphicon glyphicon-ok"></span></div></div>
<div class="legend-item-text"><strong><span class="pull-right stats_count" id="stats_count_{{id}}"></span> </strong> {{name}}</div>
</div>
{{/each}}
</div>
</script>

<script id="jobs-edu-indicator-template" type="text/x-handlebars-template">
<div class="indicator_box">
{{#each workforce_edu}}
<div class="legend-item" data-id="legend_{{id}}">
<div class="colorbox" style="background-color:{{color}};"><div class="item-checkbox"><span class="glyphicon glyphicon-ok"></span></div></div>
<div class="legend-item-text"><strong><span class="pull-right stats_count" id="stats_count_{{id}}"></span> </strong> {{name}}</div>
</div>
{{/each}}
</div>
<p class="note">*Workforce categorized by education only show workforce over the age of 30.</p>
</script>


        <script type="text/css" id="mss"></script>
        
        <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/Blob.js")"></script>
        <script src="@routes.Assets.at("javascripts/FileSaver.js")"></script>
        
        <script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-slider.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/rpa/app_workforce.js")" type="text/javascript"></script>
    
    	<div class="modal" id="infoModal" tabindex="-1" role="dialog" >
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Access to workforce</h4>
		      </div>
		      <div class="modal-body">
				<p>The RPA Workforce Access map measures the accessible workforce from a given origin by walking, biking, public transit or car. Travel times approximate a typical morning commute.</p> 
			
				<p>The tool allows the user to define the place of origin, mode and maximum travel time. Workforce with in the travel-shed are tabulated and mapped. The map representation shows a single point for each worker. Workforce color coded by either industry classification or educational attainment.</p>
				
				<h4>Data Sources</h4>

				<p>The tool utilizes the US Census’ <a href="http://lehd.ces.census.gov/data/">LEHD Origin-Destination Employment Statistics</a> data set to measure jobs. The data set categorizes workplace and workforce characteristics at a block-level.</p>
				
				<p>Public transit travel times are calculated using publicly-available data sets in the <a href="https://developers.google.com/transit/gtfs/reference?csw=1">GTFS</a> format. These data sets contain schedules and timetables for most public transport service within the New York metro region.</p>
				
				<p>Driving, walking and and biking is calculated using the <a href="http://www.openstreetmap.org/#map=10/40.7691/-73.7924">OpenStreetMap</a> data set, a global, seamless map of roadway and pedestrian infrastructure.  </p>
				
				<p>OpenTripPlanner, an open source software package, is used to calculate travel times across all modes. Public transit times are based on GTFS-derived timetables. Driving times are estimated based on average roadway speeds for a given roadway classification, and are adjusted using publically available roadway speed data from NYMTC and the <a href="http://njtpa.org/Data-Maps/Travel-Demand-Modeling.aspx">NJTPA Regional Transportation Model</a>.</p>
				
				<h4>Limitations</h4>
				
				<p>Travel times are estimates using best-available information, and should not be used for travel planning purposes.</p>
				
				<p>Public transit trips are calculated by finding fastest travel times via any combination of walking and public transit based travel. In areas where walking is faster/more accessible than public transit, the travel-shed will reflect primarily walk-based journeys.
				
				<p>Morning rush travel speeds are estimates based on a comparison of different data sets. For traffic data within New York State historical averages from 2011 NYMTC data is used to calculate percent-change in travel speeds between 7-9am when compared against daily maximums. For New Jersey morning congestion speed data from the NJTPA Regional Transportation Model was used. Appropriate morning rush data was not available for Connecticut; results there reflect daily average travel times.</p>
				
			  </div>
		    </div>
		  </div>
		</div>
		   
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45854426-3', 'conveyal.com');
  ga('send', 'pageview');

</script>
		    
    </body>
</html>


